<div class="container text-center">
    <div class="card-group">
        <div class="row">
            {{#each movies }}
            <div class="card col-md-3 mb-3">
                <img src="{{poster}}" style="width='100';" class="card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-sussess">{{title}}</h4>
                    <p class="fw-bold card-text text-primary">{{year}}</p>
                    <form action="/movies/rent" method="post">
                        <input type="hidden" name="id" value="{{_id}}">
                        <input type="submit" class="btn btn-danger" value="Rent">
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>