<div class="container text-center">
   <div class="col">
      <div class="row">
         <h1 class="text text-warning mb-3">MOVIE RENT CONFIRM</h1>
      </div>
      <div class="row">
         <table class="table table-bordered">
            <tr>
               <th>Title</th>
               <td>{{ movie.title }}</td>
            </tr>
            <tr>
               <th>Director</th>
               <td>{{ movie.director }}</td>
            </tr>
            <tr>
               <th>Actor</th>
               <td>{{ movie.actor }}</td>
            </tr>
            <tr>
               <th colspan="2">
                  <button class="btn btn-success">OK</button>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>